In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Create users DataFrame
users = pd.DataFrame({
    'user_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [28, 34, 22, 30],
    'country': ['USA', 'UK', 'Canada', 'Australia']
})

In [3]:
# Create orders DataFrame
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104],
    'user_id': [1, 2, 1, 3],
    'product': ['Laptop', 'Keyboard', 'Mouse', 'Smartphone'],
    'amount': [1200, 150, 50, 900]
})

In [4]:
# Merge datasets on 'user_id'
combined = pd.merge(orders, users, on='user_id')

In [5]:
# Display the integrated dataset
print("\n Combined Data:")
print(combined)

 Combined Data:
   order_id  user_id     product  amount     name  age country
0       101        1      Laptop    1200    Alice   28     USA
1       102        2    Keyboard     150      Bob   34      UK
2       103        1       Mouse      50    Alice   28     USA
3       104        3  Smartphone     900  Charlie   22  Canada