In [1]:
# Import Libraries
import pandas as pd

In [3]:
# Read the CSV files
users_df = pd.read_csv('users.csv')
orders_df = pd.read_csv('orders.csv')

In [4]:
# Display the raw data
print(" Users Data:")
print(users_df)

print("\n Orders Data:")
print(orders_df)

 Users Data:
   user_id     name  age    country
0        1    Alice   28        USA
1        2      Bob   34         UK
2        3  Charlie   22     Canada
3        4    Diana   30  Australia

 Orders Data:
   order_id  user_id     product  amount
0       101        1      Laptop    1200
1       102        2    Keyboard     150
2       103        1       Mouse      50
3       104        3  Smartphone     900
4       105        4     Monitor     300

In [5]:
# Merge the datasets on 'user_id'
combined_df = pd.merge(orders_df, users_df, on='user_id')

In [6]:
# Display merged data
print("\n Combined Data (Orders + Users):")
print(combined_df)

 Combined Data (Orders + Users):
   order_id  user_id     product  amount     name  age    country
0       101        1      Laptop    1200    Alice   28        USA
1       102        2    Keyboard     150      Bob   34         UK
2       103        1       Mouse      50    Alice   28        USA
3       104        3  Smartphone     900  Charlie   22     Canada
4       105        4     Monitor     300    Diana   30  Australia

In [7]:
# Optional - Do some basic analysis
print("\n Total Amount Spent by Each User:")
print(combined_df.groupby('name')['amount'].sum())

print("\n Orders by Country:")
print(combined_df['country'].value_counts())

 Total Amount Spent by Each User:
name
Alice      1250
Bob         150
Charlie     900
Diana       300
Name: amount, dtype: int64

 Orders by Country:
country
USA          2
UK           1
Canada       1
Australia    1
Name: count, dtype: int64